.about-company {
  margin-bottom: 100px;
  display: flex;
  gap: 5rem;
  align-items: center;
  @media screen and (max-width: 1030px) {
    flex-wrap: wrap;
  }
}
.about-company_text {
  font-size: 18px;
  color: #1e1e1e;
}

.about-company_Image img {
  position: relative;
  top: 50px;
  object-fit: contain;
  object-position: center;
  max-width: 500px;
  max-height: 500px;
  @media screen and (max-width: 1011px) {
    max-height: 300px;
    top: 0;
    width: 100%;
  }
}

.whyTurest {
  width: 100%;
  background: #115b7d;
  margin: 80px 0 40px;
  padding-bottom: 60px;
}

.whyTurest .turestGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 40px;
}

.whyTurest .turestGrid .turest {
  display: grid;
  grid-template-columns: 1fr 5fr;
  color: #fff !important;
}

.whyTurest .turestGrid .turest span {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.whyTurest .turestGrid .turest p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.page-header {
  padding: 350px 0 240px;
  position: relative;
}

.page-header.about-bg {
  width: 100%;
  min-height: 100vh;
  background: url("../img/about-bg.aa8e8b6d.jpg") no-repeat 50% 100% / cover;
}
.page-header.contact-bg {
  width: 100%;
  min-height: 100vh;
  background: url("../img/contacts.png") no-repeat 50% 100% / cover;
}
.page-header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hone {
  color: #000;
  font-size: 20px !important;
  font-weight: 900 !important;
}
.hponex {
  margin: 35px 0;
}
.hponex span {
  margin-left: 4px;
  color: #000;
  font-size: 20px !important;
  font-weight: 900 !important;
}
.contacts a {
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
  margin-bottom: 15px;
  text-decoration: none;
}
.contacts-wrap {
  background: url("./../img/contact.jpg") no-repeat 50%;
  background-size: cover;
  padding: 100px 0;
}
.contacts-text {
  margin-top: -30px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}
